<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings >
  <!-- <add key ="User Name" value ="Delta"/> -->
  <!-- <add key ="Password" value ="Omega"/> -->
  <add key ="AdminLoginID" value ="admin"/>
  <add key ="AdminPassword" value ="1234"/> 

    <add key ="Host" value ="smtp.gmail.com"/>
    <add key ="EnableSsl" value ="true"/>
    <add key ="UserName" value ="YourEmailID@gmail.com"/>
    <add key ="Password" value ="YourPassword"/>
    <add key ="Port" value ="551"/> 

  </appSettings>
  <connectionStrings>
    <add name ="Myshop" connectionString ="Data Source=VENKAT-PC\SQLEXPRESS2;Initial Catalog=Shoponline;Integrated Security=True " providerName ="System.Data.SqlClient"/>
  </connectionStrings> 
    <system.web>   
        <compilation debug="true" targetFramework="4.0" />    
    </system.web>

</configuration>
